/* base styles */
* {
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}
.navbar-nav{
  padding: 10px 10px 30px 5px;
  font-size: 25px;
  margin-left: 10px;
}
.main-content {
  margin: 0;
  text-align: center;
}

.button-content {
  background-color: blue;
  border: 0;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
}

.button-content:hover {
  cursor: pointer;
}
/* About */
.logged {
  background-color: #ff5252;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 30px;
}

.title{
  font-size: 50px;
}

.desc{
  font-size: 16px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.list, .list1, .list2, .list3, .list4{
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  list-style-position: inside;
}
/* Form */
.title_form{
  padding-top: 10px;
}

.mb-3 {
  height: 100px;
  border: 2px #1f2bd8 2px;
  margin: 2px 0;
  padding: 30px;
  position: block;
  font-size: 20px;
  text-align: center;
  margin: 0 0 .5vh 0;
  width: 100%;
  justify-content: center;
}

.building-name {
  width: 350px;
  height: 75px;
  border: 2px;
  margin: 2px 0;
  padding: 10px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 20px;
  text-align: center;
  margin: 0 0 .5vh 0;
  width: 100%;
}

.issue {
  width: 350px;
  height: 75px;
  border: 2px;
  margin: 2px 0;
  padding: 30px;
  padding-right: 20px;
  font-size: 20px;
  text-align: center;
  margin: 0 0 .5vh 0;
  width: 100%;
}


.button-info{
  padding-top: 50px;
  padding-right: 40px;
}
.LoginError{
  color: red;
  font-size: 15px;

}


